# Basic docker-compose.yml running the project as docker container.
# Configuration of needed parameters can be done via ./.env file.
# This file isn't loaded into the image, just used as a source for environment variables.

version: "3.9"
services:
  chatgpt-telegram-bot:
    image: chatgpt-telegram-bot:latest
    build: .
    container_name: chatgpt-telegram-bot
    restart: unless-stopped
    env_file: .env
networks:
  default:
    name: chatgpt-telegram-bot-network
    driver: bridge

